@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary-color:#71c65b;
$dark-grey:#333333;
$medium-grey:#666666;
$thin-border:#cccccc;
$white:#ffffff;
$black:#000000;

$primary-font:'Roboto',
sans-serif;

$tablet: 768px;

@function radius($value:200) {
  @return $value * 5px;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin tablet {
  @media only screen and (max-width: $tablet) {
    @content;
  }
}
