@import "./consts.scss";
@import "./modal.scss";

// Primary button css
.primary-button {
  @include flex-center;
  padding: 12px 24px;
  background-color: $white;
  color: $medium-grey;
  border-radius: radius(1);
  border: 1px solid $thin-border;
  height: 48px;

  &:focus {
    outline: 0;
  }

  &-icon {
    height: 36px;
    width: 36px;
    fill: $medium-grey;
  }

  &--success {
    background-color: $primary-color;
    color: $white;
    border: unset;

    .primary-button-icon {
      fill: $white;
    }
  }
}

// Style for all input fields
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  &-label {
    margin-left: 12px;
    margin-bottom: 9px;
    font-family: $primary-font;
    font-size: 18px;
  }

  &-input,
  &-select {
    height: 42px;
    border-radius: radius(1);
    border: 1px solid $thin-border;
    padding: 0 12px;
    background-color: $white;
    box-sizing: border-box;
    color: $medium-grey;

    &::placeholder {
      color: $thin-border;
    }

    &:focus {
      outline: 0;
    }
  }

  &-radios {
    display: flex;
    flex-wrap: wrap;
    padding: 0 24px;

    &-node {
      display: flex;
      align-items: center;
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }

      &-label {
        font-family: $primary-font;
        font-size: 18px;
        line-height: 18px;
      }

      &-ring {
        height: 24px;
        width: 24px;
        border-radius: radius();
        margin-right: 12px;
        border: 2px solid $primary-color;
        box-sizing: border-box;

        &.active {
          background: $primary-color;
        }
      }
    }
  }

  &--select {
    &::after {
      content: " ";
      pointer-events: none;
      position: absolute;
      right: 12px;
      top: 50%;
      height: 9px;
      width: 9px;
      transform: translate(0, 50%) rotate(45deg);
      border: 1px solid $thin-border;
      border-left: 0;
      border-top: 0;
    }

    select {
      appearance: none;
    }
  }
}

// Checkbox input
.check-field {
  display: flex;
  align-items: center;

  &-box {
    @include flex-center;
    height: 24px;
    width: 24px;
    border-radius: radius(1);
    background: $primary-color;
    margin-right: 12px;

    svg {
      height: 12px;
      width: 12px;
      fill: $white;
    }
  }

  &-label {
    font-family: $primary-font;
    font-size: 18px;
    line-height: 18px;
  }
}

// Contact form layout
.contact-form {
  display: grid;
  grid-row-gap: 24px;

  &-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;

    @include tablet {
      grid-template-columns: 1fr;
      grid-row-gap: 24px;
    }
  }
}
