.modal {
  @include flex-center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 12px;
  z-index: 100;
  box-sizing: border-box;
  background-color: rgba($black, 0.3);

  &-content {
    display: flex;
    flex-direction: column;
    background: $white;
    // box-shadow: $light-box-shadow;
    border-radius: radius(1);
    width: fit-content;
    height: fit-content;
    max-height: 100%;

    &-heading {
      padding: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $thin-border;

      &-text {
        font-family: $primary-font;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        color: $dark-grey;
        margin-right: 24px;
      }

      .close-icon {
        cursor: pointer;
        height: 18px;
        width: 18px;
        fill: $thin-border;
      }
    }

    &-body {
      flex: 1;
      padding: 30px;
      width: 100%;
      box-sizing: border-box;
      overflow: auto;
    }

    &-footer {
      display: flex;
      justify-content: flex-end;
      padding: 12px 24px;
      box-sizing: border-box;
      border-top: 1px solid $thin-border;

      &-button {
        margin-right: 12px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
